# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build outputs
.next/
dist/
build/
out/

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Testing
coverage/
